 <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
 <div class="container" style="background-image: linear-gradient(to bottom, #000000, #ff0000);">
  <img src="/images/profile.jpg" alt="Profile Image" class="profile-image" style="width: 200px; height: auto;">
  <h2>About Me</h2>
  <p>Name: Steven Marty Ces</p>
  <p>Student ID: N01639939</p>
  <p>Email: N01639939@humber.ca</p>
  <br>
  <h2>Skills</h2>
  <ul class="skills-list">
    <li>PHP</li>
    <li>CSS</li>
    <li>Node.js</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>Java</li>
  </ul>
</div>