<title>Search</title>
   <link rel="stylesheet" href="stylesheets/search.css" type="text/css">

<form action="/searched" method="POST" class="search-form">
  <input type="text" name="keyword" placeholder="InvoiceNo/Manufacturer" class="search-input">
  <button type="submit" class="search-button">Search</button>
</form>
